.block-number {
    text-align: center;
    font-weight: bold;
    font-size: 0.8125em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #191919;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.block-number:hover {
    opacity: 1;
}

.block-number::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    margin-bottom: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #191919;
}

.block-number a:hover,
.block-number a:focus {
    color: #191919;
}

.demo-section .main-content .section,
.demo-topbar .main-content .topbar,
.demo-navbar .main-content .navbar,
.demo-header .main-content .header,
.demo-footer .main-content .footer {
    margin: 30px 20px 100px;
    border: 1px solid #f5f6f7;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.demo-topbar .main-content .topbar,
.demo-navbar .main-content .navbar {
    position: static;
    margin: 0;
}

.sample-blocks img {
    border-radius: 0.25rem;
}

.sample-blocks img.aos-animate {
    opacity: 0.5 !important;
}

.sample-blocks img:hover {
    opacity: 1 !important;
    -webkit-transition: 0.7s !important;
    transition: 0.7s !important;
}

.sample-blocks a {
    position: absolute;
}

.sample-blocks a:nth-child(1) {
    -webkit-animation: wobble 4s infinite;
    animation: wobble 4s infinite;
    right: 15px;
    bottom: -20px;
}

.sample-blocks a:nth-child(2) {
    -webkit-animation: wobble 8s infinite;
    animation: wobble 8s infinite;
    right: 320px;
    bottom: 30px;
}

.sample-blocks a:nth-child(3) {
    -webkit-animation: wobble 5s infinite;
    animation: wobble 5s infinite;
    right: 0px;
    bottom: 190px;
}

.sample-blocks a:nth-child(4) {
    -webkit-animation: wobble 6s infinite;
    animation: wobble 6s infinite;
    right: 280px;
    bottom: 180px;
}

.sample-blocks a:nth-child(5) {
    -webkit-animation: wobble 9s infinite;
    animation: wobble 9s infinite;
    right: 270px;
    bottom: 320px;
}

.sample-blocks a:nth-child(6) {
    -webkit-animation: wobble 7s infinite;
    animation: wobble 7s infinite;
    right: 20px;
    bottom: 370px;
}

.sample-blocks a:nth-child(7) {
    -webkit-animation: wobble 5s infinite;
    animation: wobble 5s infinite;
    right: 200px;
    bottom: 470px;
}

.sample-blocks a:nth-child(8) {
    -webkit-animation: wobble 8s infinite;
    animation: wobble 8s infinite;
    right: 10px;
    bottom: 470px;
}

.sample-blocks a:nth-child(9) {
    -webkit-animation: wobble 9s infinite;
    animation: wobble 9s infinite;
    right: 0px;
    bottom: 570px;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
    50% {
        -webkit-transform: rotate(1deg) translate(5px, 5px);
        transform: rotate(1deg) translate(5px, 5px);
    }
    100% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
}

@keyframes wobble {
    0% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
    50% {
        -webkit-transform: rotate(1deg) translate(5px, 5px);
        transform: rotate(1deg) translate(5px, 5px);
    }
    100% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
}

@media (max-width: 400px) {
    body>.footer .social a:last-child,
    body>.footer .nav a:last-child {
        display: none;
    }
}

.text-success {
    color: #23BA99 !important;
}

.btn-success {
    background-color: #23BA99 !important;
    border-color: #23BA99 !important;
}

.section .demoWrapper {
    width: 100% !important;
}

.demoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.demoContainer .create-channel img,
.demoContainer .direct-msg img {
    width: 80%;
}

#myBtn {
    background-color: #23BA99 !important;
}

.logo-dark {
    transform: scale(2);
}

.header {
    padding-top: 60px !important;
    padding-bottom: 0 !important;
}

.h-100 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-lg-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/top.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding: 0 !important;
}

.col-lg-12 p {
    width: 40%;
}

.my-5 img {
    opacity: 0.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #F9F7F7;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-content form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.modal-content form .row {
    margin: 0.8rem 0;
}

.modal-submit {
    width: 20%;
    margin: 1rem auto;
}

@media (max-width: 500px) {
    .demoContainer {
        flex-direction: column;
    }
    .col-lg-12 {
        justify-content: inherit;
        margin-top: 20%;
        height: 60vh;
        background-position: bottom;
    }
    .col-lg-12 h1 {
        font-size: 2rem;
    }
    .col-lg-12 p {
        font-size: 1rem;
        width: 100%;
    }
    .header {
        padding-top: 20px !important;
    }
}